:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4e3e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.track-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 450px;
  min-height: 400px;
  margin: 0 auto;
  background-color: rgb(234, 121, 121);
  border-radius: 5%;
  padding: 10px;
}

h1{
  text-align: center;
}

.track-box{
  max-width: 600px;
  width: 400px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

ul{
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  max-width: 600px;
  width: 400px;
  color: black;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

li{
  border: pink solid;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  background: white;
}

.text{
  flex: 1; 
  padding: 2px;
}

button{
  border-radius: 2px;
  border-width: 1px;
  padding: 9px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.add-button{
  background-color: pink;
  font-size: 20px;
  align-self: center;
  padding: 3px 10px;
}

.add-button:hover{
  background-color: rgba(255, 60, 89, 0.957);
  color: white;
}

.delete-button{
  background-color: rgb(234, 147, 161);
  color: white;
  border: none;
  font-size: 16px;
  margin-left: 10px;
}

.delete-button:hover{
  background-color: rgb(240, 116, 136);
}

.edit-button, .save-button, .cancel-button{
  background-color: rgb(244, 178, 184);
  border: none; 
}

.edit-button:hover, .save-button:hover, .cancel-button:hover{
  background-color: rgb(234, 147, 161);;
  color: white;
}

input[type="text"]{
font-size: 20px;
padding: 5px;
border: 2px solid pink;
border-radius: 5px;
color: black;
}

.complete{
  width: 20px;
}

.hidden{
  display: none;
}

